.copyraptor-app  {
  z-index: 10000000;
  @import 'reset';

.main-panel {
  /* TODO: make it change in case want to edit very top of page */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
}

.main-panel h1 {
  font-weight: normal;
  font-size: 30px;
  font-family: monospace;
  display: inline-block;
  line-height: 40px;
}
.main-panel h1:before {
  content: ' ';
  display: block;
  float: left;
  margin-right: 20px;
  background-image:
    url('http://fc05.deviantart.net/fs51/i/2009/319/7/6/Raptor_Head_by_Hawt_Shot.png');
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.main-panel .controls {
  display: inline-block;
  margin-left: 30px;
}

.focus-rect-segment {
  overflow: hidden;
  position: absolute;
  opacity: 0.4;
  z-index: 9999999; /* Under copyraptor-app */
}
.editing .focus-rect-segment {
  opacity: 0.6;
}

.focus-rect-segment:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.left.focus-rect-segment {
  transform: skew(0deg, 45deg);
}
.left.focus-rect-segment:after {
  top: -12px;
  bottom: 12px;
  background: linear-gradient(to left, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
  background: linear-gradient(to left, black, rgba(0,0,0,0));
  transform: skew(0deg, -63.43deg);
}

.right.focus-rect-segment {
  transform: skew(0deg, -45deg);
}
.right.focus-rect-segment:after {
  top: -12px;
  bottom: 12px;
  background: linear-gradient(to right, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
  background: linear-gradient(to right, black, rgba(0,0,0,0));
  transform: skew(0deg, 63.43deg);
}

.top.focus-rect-segment {
  transform: skew(45deg, 0deg);
}
.top.focus-rect-segment:after {
  left: -12px;
  right: 12px;
  background: linear-gradient(to top, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
  background: linear-gradient(to top, black, rgba(0,0,0,0));
  transform: skew(-63.43deg, 0deg);
}

.bottom.focus-rect-segment {
  transform: skew(-45deg, 0deg);
}
.bottom.focus-rect-segment:after {
  left: -12px;
  right: 12px;
  background: linear-gradient(to bottom, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
  background: linear-gradient(to bottom, black, rgba(0,0,0,0));
  transform: skew(63.43deg, 0deg);
}

button {
  background-color: rgb(135, 135, 243);
  color: white;
  margin: 5px;
  height: 30px;
}

.login-form {
  padding: 5px 50px;
  display: none;
}

.login-form.visible {
  padding: 5px 50px;
  display: block;
}

.login-form p {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form p.error {
  font-weight: bold;
  color: rgb(248, 81, 81);
  display: none
}

.login-form.error p.error {
  display: block;
}

.login-form input {
  width: 180px;
  margin: 5px;
  line-height: 20px;
}

.login-form button {
  height: 45px;
}

.pending-changes {
  display: none;
}

.pending-changes.visible {
  display: inline;
}

button.loading:after {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('data:image/gif;base64,R0lGODlhEAAQAPIAAIeH8////6Oj9d/f+////9DQ+cHB+Lm59yH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}

}
