
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin placeholder($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
  }

  :-ms-input-placeholder {
    color: $color;
  }
}

// See http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

$panel-padding-v: 8px;
$panel-padding-h: 20px;
$button-height: 30px;

$background-color: rgba(0, 0, 0, 0.75);
$button-green: #009600;

@include keyframes(copyraptor-scaleout) {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}

@include keyframes(copyraptor-flash) {
  0% {
    background-color: #4fa04a;
  } 100% {

  }
}


.copyraptor-app {
  @import 'reset';

  font-size: medium;
  line-height: 1.5em;
  direction: ltr;
  text-align: left;
  font-family: "Tahoma", "Geneva", sans-serif;
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  list-style-type: disc;

  *, *:before, *:after {
    box-sizing: border-box;
  }
  @include placeholder(#7f7f7f);

  button {
    height: $button-height;
    cursor: pointer;
    background-color: $button-green;
    color: white;
    font-size: 16px;
    letter-spacing: 0.4px;
  }

  a {
    text-decoration: underline;
  }

  //
  // Panel
  //

  .main-panel {
    /* TODO: make it change in case want to edit very top of page */
    z-index: 10000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    color: white;
    padding: $panel-padding-v $panel-padding-h;
    background: $background-color;
    @include box-shadow(0 2px 4px 4px rgba(0, 0, 0, 0.8));
  }

  .main-panel {
    font-size: 14px;

    h1 {
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      margin-top: 10px;
      font-size: 30px;
      font-family: monospace;
      &:before {
        content: ' ';
        display: block;
        float: left;
        margin-right: 20px;
        background-image:
        url('http://fc05.deviantart.net/fs51/i/2009/319/7/6/Raptor_Head_by_Hawt_Shot.png');
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }

    >.loading {
      display: inline-block;
      padding-left: 40px;
      padding-top: 20px;
    }

    .controls {
      display: inline-block;
      padding-left: 40px;

      .viewstate {
        display: inline-block;
        label {
          display: block;
        }

        button {
          width: 150px;
          margin: 0;
          background-color: #686868;
          color: #e6e6e6;
          @include box-shadow(0px 0px 2px 1px rgba(0, 0, 0, 0.7) inset);
          &.active {
            background-color: $button-green;
            color: white;
            cursor: default;
            @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0.7));
          }
        }
      }

      .editing {
        display: inline-block;
        margin-left: 140px;

        button.publish {
          display: inline-block;
          width: 170px;
        }

        div.revert {
          display: inline-block;
          vertical-align: bottom;
          margin-left: 20px;
          a {
            display: block;
          }
        }
      }

      .editnow {
        padding-left: 80px;
        font-size: 18px;
      }

      .close {
        position: absolute;
        display: inline-block;
        top: $panel-padding-v;
        right: $panel-padding-h;
        padding: 4px 10px 10px 10px;
        background-color: rgba(255, 255, 255, 0.06);
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      .logout {
        position: absolute;
        display: inline-block;
        top: $panel-padding-v;
        right: $panel-padding-h + 36px;
        padding: 4px 10px 10px 10px;
        font-size: 12px;
        color: #bbbbbb;
        background-color: rgba(255, 255, 255, 0.06);
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      .savestate {
        position: absolute;
        bottom: 0;
        right: $panel-padding-h;
      }
    }

    .status {
      display: block;
      height: 20px;
      width: 700px;
      margin-top: 4px;
      margin-left: 280px;
      margin-bottom: -4px;
      color: #dddddd;

      .message {
        display: inline-block;
        &.flash {
          @include animation('copyraptor-flash 1.0s ease-in')
        }
      }

      .spinner {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-left: 6px;
        background-color: #d7d7d7;

        border-radius: 100%;
        @include animation('copyraptor-scaleout 1.0s infinite ease-in-out');
      }
    }
  }

  //
  // Focus rect
  //

  .focus-rect-segment {
    overflow: hidden;
    position: absolute;
    opacity: 0.4;
    z-index: 9999999; /* Under copyraptor-app */
  }
  .editing .focus-rect-segment {
    opacity: 0.6;
  }

  .focus-rect-segment:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .left.focus-rect-segment {
    transform: skew(0deg, 45deg);
  }
  .left.focus-rect-segment:after {
    top: -12px;
    bottom: 12px;
//    background: linear-gradient(to left, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
    background: linear-gradient(to left, black, rgba(0,0,0,0));
    transform: skew(0deg, -63.43deg);
  }

  .right.focus-rect-segment {
    transform: skew(0deg, -45deg);
  }
  .right.focus-rect-segment:after {
    top: -12px;
    bottom: 12px;
//    background: linear-gradient(to right, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
    background: linear-gradient(to right, black, rgba(0,0,0,0));
    transform: skew(0deg, 63.43deg);
  }

  .top.focus-rect-segment {
    transform: skew(45deg, 0deg);
  }
  .top.focus-rect-segment:after {
    left: -12px;
    right: 12px;
//    background: linear-gradient(to top, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
    background: linear-gradient(to top, black, rgba(0,0,0,0));
    transform: skew(-63.43deg, 0deg);
  }

  .bottom.focus-rect-segment {
    transform: skew(-45deg, 0deg);
  }
  .bottom.focus-rect-segment:after {
    left: -12px;
    right: 12px;
//    background: linear-gradient(to bottom, rgb(178, 211, 255), rgb(178, 211, 255), rgba(0,0,0,0));
    background: linear-gradient(to bottom, black, rgba(0,0,0,0));
    transform: skew(63.43deg, 0deg);
  }

  //
  // Login form
  //

  .login-form {
    padding: 30px 0 $panel-padding-v 60px;
    display: none;

    &.visible {
      display: block;
    }


    input {
      width: 180px;
      height: $button-height;
      vertical-align: bottom;
      margin-right: 10px;
      padding: 2px;
      line-height: 20px;
    }
    button {
      width: 100px;
      vertical-align: bottom;
    }
    p {
      margin-bottom: 5px;
      line-height: 24px;
      &.error {
        color: rgb(248, 81, 81);
        display: none;
        margin-bottom: -24px;
      }
    }
    &.error p.error {
      display: block;
    }
  }
}
