/* TODO CSS reset the .copyraptor-app */
.copyraptor-app {
  z-index: 10000000;
}

.copyraptor-app .main-panel {
  /* TODO: make it change in case want to edit very top of page */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
}

.copyraptor-app .main-panel h1 {
  font-weight: normal;
  font-size: 30px;
  font-family: monospace;
  display: inline-block;
  line-height: 40px;
}
.copyraptor-app .main-panel h1:before {
  content: ' ';
  display: block;
  float: left;
  margin-right: 20px;
  background-image:
    url('http://fc05.deviantart.net/fs51/i/2009/319/7/6/Raptor_Head_by_Hawt_Shot.png');
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.copyraptor-app .main-panel .controls {
  display: inline-block;
  margin-left: 30px;
}

.copyraptor-app .loading-gif {
  display: none;
}

.copyraptor-app .loading .loading-gif {
  display: inline-block;
}

.copyraptor-app .focus-rect-segment {
  overflow: hidden;
  position: absolute;
  opacity: 0.33;
}
.copyraptor-app .editing .focus-rect-segment {
  opacity: 0.66;
}

.copyraptor-app .focus-rect-segment:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.copyraptor-app .left.focus-rect-segment {
  transform: skew(0deg, 45deg);
}
.copyraptor-app .left.focus-rect-segment:after {
  top: -24px;
  bottom: 24px;
  background: linear-gradient(to left, black, rgba(0,0,0,0));
  transform: skew(0deg, -63.43deg);
}

.copyraptor-app .right.focus-rect-segment {
  transform: skew(0deg, -45deg);
}
.copyraptor-app .right.focus-rect-segment:after {
  top: -24px;
  bottom: 24px;
  background: linear-gradient(to right, black, rgba(0,0,0,0));
  transform: skew(0deg, 63.43deg);
}

.copyraptor-app .top.focus-rect-segment {
  transform: skew(45deg, 0deg);
}
.copyraptor-app .top.focus-rect-segment:after {
  left: -24px;
  right: 24px;
  background: linear-gradient(to top, black, rgba(0,0,0,0));
  transform: skew(-63.43deg, 0deg);
}

.copyraptor-app .bottom.focus-rect-segment {
  transform: skew(-45deg, 0deg);
}
.copyraptor-app .bottom.focus-rect-segment:after {
  left: -24px;
  right: 24px;
  background: linear-gradient(to bottom, black, rgba(0,0,0,0));
  transform: skew(63.43deg, 0deg);
}

.copyraptor-app button {
  background-color: rgb(135, 135, 243);
  color: white;
  margin: 5px;
  height: 30px;
}

.copyraptor-app .login-form {
  padding: 5px 50px;
  display: none;
}

.copyraptor-app .login-form.visible {
  padding: 5px 50px;
  display: block;
}

.copyraptor-app .login-form p {
  font-weight: bold;
  margin-bottom: 5px;
}

.copyraptor-app .login-form p.error {
  font-weight: bold;
  color: rgb(248, 81, 81);
  display: none
}

.copyraptor-app .login-form.error p.error {
  display: block;
}

.copyraptor-app .login-form input {
  width: 180px;
  margin: 5px;
  line-height: 20px;
}

.copyraptor-app .login-form button {
  height: 45px;
}

.copyraptor-app .pending-changes {
  display: none;
}

.copyraptor-app .pending-changes.visible {
  display: inline;
}
